*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/codeStyles
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/build
/CallKit/build
/CallLib/build
/IMKit/build
/IMLib/build
/librarypullrefresh/build
/TvWidgitLib/build
/.idea/encodings.xml
/.idea/gradle.xml
/.idea/vcs.xml
/.idea/caches
/.idea/modules.xml
/.idea/misc.xml


